allow logpersist cache_file:dir { search read open write add_name create };
allow logpersist cache_file:file { create read open write unlink append getattr setattr ioctl };

